<div class="container">
<div class="d-flex flex-column mt-5">
<div class="card d-flex flex-row">
    <div class="align-self-center m-2">
        <img src="https://upload.wikimedia.org/wikipedia/pt/thumb/6/6f/JonSnow_08.jpg/220px-JonSnow_08.jpg" 
            class="card-img-top" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">Jon Snow (Game of Thrones)</h5>
        <p class="card-text">Kit Harington</p>
        <p class="card-text">Jon Snow é um personagem fictício da série de livros de fantasia A Song of Ice and Fire, escrita pelo autor norte-americano George R. R. Martin. Ele também é um dos personagens principais da adaptação televisiva da HBO, Game of Thrones, onde é interpretado pelo ator britânico Kit Harington.</p>
    </div>
</div>
</div>
</div>