<div class="container">
    <div class="row d-flex justify-content-center" style="background-color: aliceblue;">
        <div class="col-6 h-100 m-1 py-2 px-3 border border-dark" style="background-color: rgb(188, 216, 241);">
            <div class="row">
                <div class="h1 ms-2 ps-0 col-10  text-start text-primary border-bottom border-primary">
                    Registro de Matérias
                </div>
            </div>
            <form class="text-start" (submit)="$event.preventDefault()" >
                <div class="col mx-2 mt-4">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome">
                </div>
                <div class="col mx-2 mt-4">
                    <label for="cargaHoraria" class="form-label">Carga Horária (horas aula)</label>
                    <input type="text" class="form-control" id="cargaHoraria">
                </div>
                <div class="col mx-2 mt-4">
                    <label for="Escola" class="form-label">Escola</label>
                    <input type="number" class="form-control" id="Escola">
                </div>
                <div class="row">
                    <div class="col mx-2 mt-4">
                        <label for="select-form" class="form-label">Professor</label>
                        <select class="form-select" aria-label="Default select example" id="select-form">
                            <option selected disabled>Selecione uma opção</option>
                            <option *ngFor="let professor of listaProfessores" [value]="professor.numero">
                                {{professor.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mx-2 mt-4">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="obrigatoria">
                            <label class="form-check-label" for="obrigatoria">
                                Matéria Obrigatória
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="opcional">
                            <label class="form-check-label" for="opcional">
                                Matéria Opcional
                            </label>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn btn-primary mt-4 w-25" data-bs-toggle="modal" data-bs-target="#formEnviado" >Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="formEnviado" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Aviso</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Formulário enviado com sucesso!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>
